<div class="container-fluid">
  
  <header>
    <div class="jumbotron">
      <div class="page-header">
        <h1 class="lead text-center">CampSites Directory</h1>
      </div>  
    </div>
  </header>  
  
    <div class="row tableBackground">
      
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th scope="row">Title</th>
              <th scope="row">Category</th>
              <th scope="row">Author</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><a href="<%= post.url %>" targer="_blank" rel="muse nofollow external"><%= post.title %></a></td>
                <td><%= post.description %></td>
                <td><a href="https://www.freecodecamp.com/<%= post.author %>" rel="muse nofollow external"><%= post.author %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <%= link_to 'Add New CampSite', new_post_path, class: 'btn btn-primary bubbleWrap' %>
          <br>
        </div>
      </div>
      
      <br>
      
    </div>
    
</div>
