<!DOCTYPE html>
<html>
  <head>
    <title>Free Code Camp Sites Directory</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
  </head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2490173776997871",
      enable_page_level_ads: true
    });
  </script>
  <body ng-app="ziplineFcc2App">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-view=""></div>
    
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fa fa-users"></i>
              Code Camp Sites
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Add", new_post_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <div class="container">
      <%= yield %>
      
      <p>
        <div align="center">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- campsites -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2490173776997871"
                 data-ad-slot="5828971648"
                 data-ad-format="auto">
            </ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </p>
      
    </div>
      <hr>
    <br>
  
  	<footer>
		  <p class="text-center">Copyright <%= Time.now.year %> FCC Code Camp Sites Directory</p>
      <p class="text-center"><a href="http://profoundideation.com/2016/" style="color: #CCC !important;" rel="_blank">[Profound Ideation Inc.] Digital Marketing Agency</a></p>
	  </footer>
	  
	  <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    
	  <script src="/assets/fcczips.app.js"></script>
	  <script src="/assets/vendor.apps.js"></script>
  </body>
</html>