<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Workspace</title>
=======
  <title>Campsites</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
>>>>>>> 39e8dc1b1707b0335ff9f53b1ab9fac4a0cc1e1f
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

<%= yield %>
=======
  
  <div class="container">
    <%= yield %>
  </div>
>>>>>>> 39e8dc1b1707b0335ff9f53b1ab9fac4a0cc1e1f

</body>
</html>
